<section class="login-sec">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5 col-md-6 col-sm-8 col-12">

        <div class="login-form">
          <h2>Rise Calendar Login</h2>

          <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">

            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{'parsley-error':loginForm.get('email').invalid && IsSubmitted}">
               <ul class="parsley-errors-list filled" aria-hidden="false"*ngIf="loginForm.get('email').invalid && IsSubmitted">
                <li class="parsley-required">Please Enter Email !!</li>
               </ul>
            </div>

            <div class="form-group my-4">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{'parsley-error':loginForm.get('password').invalid && IsSubmitted}">
              <ul class="parsley-errors-list filled" aria-hidden="false"*ngIf="loginForm.get('password').invalid && IsSubmitted">
                <li class="parsley-required">Please Enter Password !!</li>
               </ul>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-submit">Login</button>

              <a routerLink="/forgot-password" class="forgot-password">Forgot your password?</a>
            </div>
            Looking for Rise Renovations & Decks? Please visit <a routerLink="/" style="color: blue;">https://riserenos.ca</a>

          </form>
        </div>

      </div>
    </div>
  </div>
</section>

