.btn-bookAppoin {
    width:50%;
    border:none;
    border-radius:.5rem;
    background:#28288E;
    color:var(--color-white);
    font-size:.8rem;
    font-weight:500;
    padding:.5rem 1rem;
    margin:.5rem 0;
    transition:all .5s ease-in-out
   }