<div class="row justify-content-center p-5 mt-2">
    <div class="customer-com">

        <div class="customer-main">
          <!-- details -->
          <div class="customer-details">
              <form method="post" [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="authForm">


              <div class="form-group mb-2">

                <label>New Password</label>

                <input type="password" class="form-control" placeholder="Password" formControlName="password">

                <ul class="parsley-errors-list filled" aria-hidden="false"*ngIf="authForm.get('password').invalid && IsSubmitted">
                    <li class="parsley-required">Please Enter at least 6 charecters   Password</li>
                   </ul>

              </div>
              <div class="form-group mb-2">
                <label>Confirm Password</label>

                <input type="password" class="form-control" placeholder="Retype Password" formControlName="password_confirmation" [ngClass]="{'parsley-error':authForm.get('password_confirmation').invalid && IsSubmitted}">

                 <ul class="parsley-errors-list filled" aria-hidden="false"*ngIf="authForm.get('password_confirmation').invalid && IsSubmitted">
                  <li class="parsley-required">Please Enter Confirm Password Same As password</li>
                 </ul>

              </div>


              <div class="form-group mb-2">


                <div class="d-flex flex-wrap">


                 <div class="col-sm-4 col-12 pr-1">

                     <button class="btn-bookAppoin" type="submit">Submit</button>

                  </div>

                </div>
              </div>

            </form>

          </div>
          <!-- details -->

          <!-- details -->

          <!-- details -->

        </div>

      </div>
  </div>

