.account-settings
{
  display: flex;
  flex-wrap: wrap;
  /* align-items: baseline; */
  height: 100%;
}
.account-settings-sidebar
{
  flex:0 0 20%;
  max-width: 20%;
  height: 100%;
  background: var(--color-whiteout);
  padding: 1.5rem 1rem 1rem;
  position: relative;
}
.account-settings-content
{
  flex: 0 0 80%;
  max-width: 80%;
  padding: 1.5rem;
  /* position: relative; */
}

.account-settings-sidebar h3
{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-midnight-express);
}
.account-settings-content-box
{
  padding: 1.2rem 1.8rem;
}


.btn-lg
{
  background: var(--color-midnight-express);
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.1rem 0.5rem;
}
.btn-lg img
{
  position: relative;
  top: -1px;
  filter: invert(100%) brightness(1);
  transform: scale(0.8);
}
.add-new-customer:focus,
.btn-cancel:focus
{
  outline: none;
  box-shadow: none;
}
.add-new-customer
{
  padding: 0.5rem 1rem;
  background: var(--color-midnight-express);
  color: var(--color-white);
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  border-radius: 0.3rem;
  transition: all .5s ease-in-out;
}
.btn-cancel
{
  padding: 0.5rem 1rem;
  background: var(--color-chefs-hat);
  color: var(--color-midnight-express);
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.3rem;
  transition: all .5s ease-in-out;
  margin-left: 0.5rem;
  border: none;
}
.btn-cancel:hover
{
  background: var(--color-midnight-express);
  color: var(--color-white);
}
.add-new-customer:hover
{
  box-shadow: none;
  border: none;
  background: var(--color-ashton-blue);
}
.staff-list
{
  margin:0;
  padding:0 0 0 0;
}
.staff-list li
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  /* margin:0;
  border-radius:0;
  color: var(--color-black-emerald); */
  cursor: pointer;
  /* transition: all .5s ease-in-out; */
}
.staff-list li.acive,
.staff-list li:hover
{
  background: var(--color-crystal-bell);
}
.staff-list li.dropped_item
{
  background: #80FF80;
}
.staff-list li img
{
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.3rem;
}
.staff-list li button
{
  border: none;
  background: transparent;
  /* visibility: hidden; */
  transition: all .5s ease-in-out;
}
.staff-list li button img
{
  width: auto;
  margin: 0;
}
.staff-list li.acive button,
.staff-list li:hover button
{
  visibility: visible;
}
.customer-det-tabs
{
  padding: 1rem;
  margin: 0 1rem;
  border: 1px solid var(--color-aria);;
}
.form-control {
  border: 1px solid var(--color-extraordinary-abundance-of-tinge);
  height: 2.5rem;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
.ui-sortable {
	/* width: 350px;
	margin: 50px auto; */
	background-color:#e1f2cb;
	/* -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1);
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1);
    list-style-type: none; 
    padding: 0;  */
}
.ui-sortable li.ui-state-default { 
	/* margin: 0; 
	height: 45px;
	line-height: 48px;
	font-size: 1.4em; 
	color: #fff;
	outline: 0;
	padding: 0;
	margin: 0;
	text-indent: 15px; */
	 background: #fff;
	/*background: -moz-linear-gradient(top,  rgb(78,82,91) 0%, rgb(57,61,68) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(78,82,91)), color-stop(100%,rgb(57,61,68)));
	background: -webkit-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
	background: -o-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
	background: -ms-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
	background: linear-gradient(to bottom,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
	border-top: 1px solid rgba(255,255,255,.2);
	border-bottom: 1px solid rgba(0,0,0,.5);
	text-shadow: -1px -1px 0px rgba(0,0,0,.5);
	font-size: 1.1em;
	position: relative;
	cursor: pointer; */
}
.ui-sortable li.ui-state-default:first-child {
	border-top: 0; 
}
.ui-sortable li.ui-state-default:last-child {
	border-bottom: 0;
}

.ui-sortable-placeholder {
	border: 3px dashed #aaa;
	height: 45px;
	width: 344px;
	background: #ccc;
}
.ui-sortable li.ui-state-default:after {
	content: "\f0c9";
	display: inline-block;
	font-family: "FontAwesome";
	position: absolute;
	right: 18px;
	top: 9px;
	text-align: center;
	line-height: 35px;
	color: rgba(255,255,255,.2);
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
	cursor: move;
}
.acive{
  background:#bacfef !important;
}